body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.table-of-contents, .sidebar-sticky {
    position: sticky;
    top: 70px;
    height: calc(100vh - 90px);
    overflow: scroll;
}

.api-sidebar {
    position: sticky;
    top: 20px;
    height: calc(100vh - 40px);
    overflow: scroll;
}

.helpful {
    margin-top: 20px;
    background-color: #e9ecef;
    width: 100%;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.helpful-label, #helpful-icon-yes, #helpful-icon-no {
    font-size: 30px;
}

#helpful-icon-yes, #helpful-icon-no {
    margin-bottom: 0;
    cursor: pointer;
}

#helpful-icon-yes:hover {
    color: green;
}

#helpful-icon-no:hover {
    color: #A70000;
}

ol {
    list-style: none;
    counter-reset: ol-counter;
    padding-left: 10px;
}

ol>li {
    counter-increment: ol-counter;
    line-height: 1.5;
    padding-bottom: 1rem;
}

ol>li::before {
    content: counter(ol-counter);
    display: block;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    background-color: #2097ff5b;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

#title-bar {
    display: none;
}

#read-progress {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    background-color: #2097ff;
    width: 0;
    height: 5px;
    transition: width 0.1s;
}

#page-title {
    transition: color 0.5s;
}

#page-title {
    transition: color 0.5s;
}

#title-bar-nav {
    transition: background-color 0.5s;
}

.title-bar {
    display: none;
}

#title-bar-nav {
    position: absolute;
    width: 100vw;
}

#read-progress-percent {
    float: right;
}

.tag {
    padding: 2px;
}

.assignment {
    margin-bottom: 20px;
}

#suggest, .subtle {
    color: #666666;
}

.hidden {
    display: none;
}

.sidebar-title {
    padding-top: 10px;
}

.centered {
    text-align: center;
}

.handwritten {
    font-family: 'Architects Daughter', cursive;
}

@media (min-width: 576px) {
    #mobile-search {
        display: none;
    }
}

@media (max-width: 576px) {
    #nav-search {
        display: none;
    }
}

@media (max-width: 990px) {
    .card-icon {
        display: none;
    }
}

@media (max-width: 766px) {
    .table-of-contents {
        display: none;
    }
}