<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyHomeworkSpace Support | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
        integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/docs.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/docs.css" />
</head>

<body>
    <nav class="navbar navbar-dark" style="background-color: #2097ff;">
        <a class="navbar-brand" style="color: white" href="/">MyHomeworkSpace Support</a>
        <form class="form-inline" id="nav-search">
            <input class="form-control mr-sm-2" type="search" id="nav-searchbar" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <a class="btn btn-outline-light my-2 my-sm-0" id="mobile-search" href="/search">
            <i class="fas fa-search"></i>
        </a>
    </nav>
    <div class="sticky-top">
        <nav class="navbar navbar-light sticky-top title-bar" style="background-color: #f8f9fa" id="title-bar-nav">
            <a class="navbar-brand page-title" href="#">{% if page.icon %}
                <i class="{{ page.icon }}"> </i> {% endif %}{{ page.title }}</a>
            <a class="navbar-brand" id="read-progress-percent" href="#"></a>
        </nav>
        <div id="read-progress" class="title-bar"></div>
    </div>
    <div class="jumbotron fluid">
        <div class="container">
            <h1 id="title">{% if page.icon %}
                <i class="{{ page.icon }}"> </i> {% endif %}{{ page.title }}</h1>
            <p class="lead">Written by {{ page.author }}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9" id="content" data-spy="scroll" data-target="#tableOfContents" data-offset="0">
                {{ content }}
                <div class="helpful">
                    <p class="lead helpful-label">Was this article helpful?</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="helpful-icon-yes">
                                <i class="far fa-thumbs-up"></i>
                            </p>
                            <p>Yes</p>
                        </div>
                        <div class="col-md-6">
                            <p id="helpful-icon-no">
                                <i class="far fa-thumbs-down"></i>
                            </p>
                            <p>No</p>
                        </div>
                    </div>
                    <p id="url" style="display: none;">
                        {% if page.special-edit-url %}{{page.special-edit-url}}{% else %}https://github.com/MyHomeworkSpace/support/edit/master{{ page.url }}{% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-of-contents">
                    <strong>Table of Contents</strong>
                    <ul class="nav flex-column nav-column" id="tableOfContents"></ul>
                    <hr>
                    <small><a id="suggest">Suggest Changes with GitHub</a></small>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom"></div>
    {% if page.mermaid %}
    <script src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
    {% endif %}
</body>

</html>