<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyHomeworkSpace Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/home.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>

<body>
    <nav class="navbar navbar-dark" style="background-color: #2097ff;">
        <a class="navbar-brand" style="color: white">MyHomeworkSpace Support</a>
    </nav>
    <div class="jumbotron fluid header">
        <h1 class="display-5" id="headline">Welcome to MyHomeworkSpace Support</h1>
        <p class="lead white" id="lead-text">We're here to help!</p>
        <div class="search-homepage-wrapper">
            <form class="form-inline" id="homepage-search">
                <div class="search-homepage-wrapper">
                    <input class="form-control" placeholder="Search" id="home-searchbar" type="text">
                    <button class="btn btn-outline-light my-2 my-sm-0" id="homepageSubmit" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <a class="btn btn-outline-light my-2 my-sm-0" id="search-button" href="search">Search</a>
    </div>
    <div class="jumbotron curve fluid"></div>
    <div class="container top-cards">
        {% if page.announcement-display == true %}
        <div class="card top-card">
            {% if page.announcement-icon %}
            <i class="lead top-card-icon {{ page.icon }}"></i>{% endif %} {% if page.announcement-header %}
            <p class="lead top-card-title" href="/docs/start">{{ page.announcement-header }}</p>{% endif %}
            <p>{{ content }}</p>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 card-container">
                <div class="card top-card">
                    <i class="lead top-card-icon far fa-smile"></i>
                    <a class="lead top-card-title" href="/docs/start">Getting Started</a>
                    <p>Learn the basics of MyHomeworkSpace</p>
                </div>
            </div>
            <div class="col-md-4 card-container">
                <div class="card top-card">
                    <i class="lead top-card-icon fas fa-gift"></i>
                    <a class="lead top-card-title" href="/docs/new">What's New</a>
                    <p>What's new in MyHomeworkSpace</p>
                </div>
            </div>
            <div class="col-md-4 card-container">
                <div class="card top-card">
                    <i class="lead top-card-icon far fa-envelope"></i>
                    <a class="lead top-card-title" href="/docs/contact">Contact Support</a>
                    <p>Can't find the answer here? Feel free to ask us.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 card-container">
                <div class="card top-card">
                    <i class="lead top-card-icon fas fa-server"></i>
                    <a class="lead top-card-title" href="https://status.myhw.space">System Status</a>
                    <p>See if MyHomeworkSpace is down for everyone, or just you</p>
                </div>
            </div>
            <div class="col-md-6 card-container">
                <div class="card top-card">
                    <i class="lead top-card-icon fas fa-list-ul"></i>
                    <a class="lead top-card-title" href="#">All Articles</a>
                    <p>View a list of all the support articles on this site</p>
                </div>
            </div>
        </div>
</body>

</html>